@import '~@gen3/ui-component/dist/css/base.css';

.homepage {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.homepage__help-text {
  padding: 40px 40px;
}
